.reviews {
  margin-bottom: 40px;
}

.review__item {
  padding-bottom: 3px;
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 28px;
}

.review__item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.review__photo {
  width: 160px;
  height: 160px;
  float: left;
}

.review__content {
  float: right;
  width: 700px;
}

.review__avatar {
  overflow: hidden;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  position: relative;
}

.review__ava-pic {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

.review__date {
  font-size: 14px;
  color: #656464;
  margin-bottom: 3px;
}

.review__user {
  font-size: 18px;
  color: #221f1f;
  font-weight: bold;
  margin-bottom: 7px;
}

.review__text {
  font-size: 18px;
}

.review__text p {
  margin-top: 0;
  line-height: 1.7;
}

.pagination {
  text-align: center;
  margin-bottom: 70px;
}

.pagination__status {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #656464;
  margin-right: 17px;
}

.pagination__controls {
  display: inline-block;
  vertical-align: middle;
}

.pagination__arrow {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #bebdbd;
}

.pagination__arrow:hover {
  color: #221f1f;
}

.pagination__arrow_prev {
  margin-right: 7px;
}

.pagination__arrow_next {
  margin-left: 7px;
}

.pagination__link {
  text-decoration: none;
  color: #221f1f;
  font-weight: bold;
  width: 22px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  display: block;
  border-radius: 3px;
  font-size: 14px;
}


.pagination__item_active .pagination__link, 
.pagination__link:hover {
  background: #27273e;
  color: #ec1e79;
}

.pagination__list {
  display: inline-block;
  vertical-align: middle;
   font-size: 0;
   
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
}